---
layout: default
title: Publications
---

<h1>Publications</h1>

<h2> Journals</h2>
<ul>
  {% assign ordered_publications = site.publications | where:"type","Journal" | sort:"date" | reverse %}
  {% for pub in ordered_publications %}
    <li>
      {{ pub.name }}<br>
      {{ pub.authors }}<br>
      {{ pub.published_at}},{% if pub.published_at != "Under Review" %}&nbsp;  {{ pub.date | date: "%Y"}} {% endif %}<br>
      {% if pub.special %} <b> {{ pub.special }}</b><br>{% endif %} 
      {% if pub.pdf %} <a href={{pub.pdf}}>Paper</a> {% endif %} 
      {% if pub.video %} <a href={{pub.video}}>Video</a> {% endif %} 
      {% if pub.link %} <a href={{pub.link}}>Link</a> {% endif %} 
      {% if pub.website %} <a href={{pub.website}}>Website</a> {% endif %}       

    </li>
  {% endfor %}
</ul>
<h2> Conferences</h2>
<ul>
  {% assign ordered_publications = site.publications | where:"type","Conference" | sort:"date" | reverse %}
  {% for pub in ordered_publications %}
    <li>
      {{ pub.name }}<br>
      {{ pub.authors }}<br>
      {{ pub.published_at}},{% if pub.published_at != "Under Review" %}&nbsp;  {{ pub.date | date: "%Y"}} {% endif %}<br>
      {% if pub.special %} <b> {{ pub.special }}</b><br>{% endif %} 
      {% if pub.pdf %} <a href={{pub.pdf}}>Paper</a> {% endif %} 
      {% if pub.video %} <a href={{pub.video}}>Video</a> {% endif %} 
      {% if pub.link %} <a href={{pub.link}}>Link</a> {% endif %} 
      {% if pub.website %} <a href={{pub.website}}>Website</a> {% endif %}       

    </li>
  {% endfor %}
</ul>

<h2> Workshops</h2>
<ul>
  {% assign ordered_publications = site.publications | where:"type","Workshop" | sort:"date" | reverse %}
  {% for pub in ordered_publications %}
    <li>
      {{ pub.name }}<br>
      {{ pub.authors }}<br>
      {{ pub.published_at}},{% if pub.published_at != "Under Review" %}&nbsp;  {{ pub.date | date: "%Y"}} {% endif %}<br>
      {% if pub.special %} <b> {{ pub.special }}</b><br>{% endif %} 
      {% if pub.pdf %} <a href={{pub.pdf}}>Paper</a> {% endif %} 
      {% if pub.video %} <a href={{pub.video}}>Video</a> {% endif %} 
      {% if pub.link %} <a href={{pub.link}}>Link</a> {% endif %} 
      {% if pub.website %} <a href={{pub.website}}>Website</a> {% endif %}       

    </li>
  {% endfor %}
</ul>