---
layout: default
title: Publications
---

<h1>Publications</h1>

<ul>
  {% assign ordered_publications = site.publications | sort:"date" | reverse %}
  {% for pub in ordered_publications %}
    <li>
        {% if pub.type %}
        &lsqb;{{ pub.type }}&rsqb;	
        {% endif %}
      {{ pub.name }}<br>
      {{ pub.authors }}<br>
      {% if pub.published_at != "In Review" %}
        {{ pub.published_at}},&nbsp;  {{ pub.date | date: "%Y"}}. <br>
      {% endif %}
      {% if pub.pdf %} <a href={{pub.pdf}}>Paper</a> {% endif %} 
      {% if pub.video %} <a href={{pub.video}}>Video</a> {% endif %} 
      {% if pub.link %} <a href={{pub.link}}>Link</a> {% endif %} 
      {% if pub.website %} <a href={{pub.website}}>Website</a> {% endif %}       

    </li>
  {% endfor %}
</ul>
