<!-- Default Statcounter code for My Personal Website http://fzaero.github.io
-->
<script type="text/javascript">
  var sc_project=12446182; 
  var sc_invisible=1; 
  var sc_security="02e55470"; 
  var sc_https=1; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript><div class="statcounter"><a title="site stats"
  href="https://statcounter.com/" target="_blank"><img class="statcounter"
  src="https://c.statcounter.com/12446182/0/02e55470/1/" alt="site
  stats"></a></div></noscript>
  <!-- End of Statcounter Code -->