<img class="img-fluid" src="/assets/images/Me.jpeg"/><br>
<p><strong>Ahmet Ercan Tekden</strong> </p> 
<p>
        Research assistant at department of computer engineering at boğaziçi university, member of Cognition, Learning and Robotics (<a href="http://colors.cmpe.boun.edu.tr/">CoLoRs</a>) research group. 
</p>
<p>
<strong>Contact:</strong><br> &nbsp;
        e-mail: tekdenahmet AT gmail.com
</p>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/Fzaero"><i class="fa fa-git fa-lg"></i></a> <strong>·</strong>
<a href="https://www.linkedin.com/in/ahmet-tekden-5a9b38aa/"><i class="fa fa-linkedin fa-lg"></i></a> <br> 
