<img class="img-fluid" src="/assets/images/Me.jpeg"/><br>
<p><strong>Ahmet Ercan Tekden</strong> </p> 
<p>
        PhD student at the Department of Electrical Engineering at the Chalmers University of Technology
</p>
<p>
<strong>Contact:</strong><br> &nbsp;
        e-mail: tekden AT chalmers DOT se
</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/Fzaero"><i class="fa fa-git fa-lg"></i></a> &nbsp;&nbsp;<strong>·</strong> &nbsp;&nbsp;
<a href="https://www.linkedin.com/in/ahmet-tekden/"><i class="fa fa-linkedin fa-lg"></i></a> &nbsp;&nbsp;<strong>·</strong> &nbsp;&nbsp;
<a href="https://twitter.com/ErcanTekden"><i class="fa fa-twitter fa-lg"></i></a> <br> 

